<div>
  <label class="text-base font-semibold text-gray-900"></label>
  <p class="text-sm text-gray-500">Choose the algorithm you would like to use</p>
  <div class="sm:inline-flex sm:justify-between w-full">
    <fieldset class="mt-4">
      <div class="space-y-4 sm:flex  sm:items-center sm:space-x-10 sm:space-y-0">
        <ng-container *ngFor="let algorithm of availableAlgorithms; index as i">
          <div class="flex items-center">
            <input id="algorithm-{{i}}" name="algorithm" type="radio" [value]="algorithm"
                   class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
            <label for="algorithm-{{i}}"
                   class="ml-3 block text-sm font-medium leading-6 text-gray-900">{{algorithm}}</label>
          </div>
        </ng-container>
      </div>
    </fieldset>
   <button type="button" class="mt-4 sm:mt-2  align-middle rounded-md bg-indigo-600 px-7 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
     Start</button>

  </div>
</div>
