<div *ngIf="editModalService.isVisible" class="relative z-20" aria-labelledby="modal-title" role="dialog"
     aria-modal="true">

  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-center justify-center p-4 text-center  ">

      <div
        class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all my-8 w-full max-w-sm p-6">

        <div>
          <div class="mx-auto flex h-12 w-12 items-center justify-center rounded-full bg-indigo-100">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6 text-indigo-600">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"/>
            </svg>


          </div>
          <div class="mt-5 text-center ">
            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Edit Ship</h3>


            <div class="grid w-full mt-2 ">
              <div class="col-span-4 ">
                <label for="edit-ship-name"
                       class="flex justify-start text-sm font-medium leading-6 text-gray-900"></label>
                <div class="mt-2">
                  <div
                    class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 max-w-md">
                    <input type="text" name="edit-ship-name" id="edit-ship-name"
                           class="block  border-0 bg-transparent py-1.5 px-2 text-gray-900 placeholder:text-gray-400 focus:ring-0 text-sm leading-6"
                           placeholder="Name"
                           [(ngModel)]="editModalService.model!.name">
                  </div>
                </div>
              </div>
            </div>

            <div class="grid w-full mt-2 ">
              <div class="col-span-4 mt-2 inline-flex justify-between">
                <div class="w-2/4">
                  <div
                    class="w-fit rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 max-w-md">

                    <input type="text" name="edit-quest-ressource" id="edit-quest-ressource"
                           class="block border-0 bg-transparent py-1.5 px-2 text-gray-900 placeholder:text-gray-400 focus:ring-0 text-sm leading-6"
                           placeholder="Ressource"
                           [ngModel]="getRessource()" (ngModelChange)="setRessource($event)">
                  </div>
                </div>
                <div class="inline-flex w-2/4 ml-6 justify-center ">
                  <div class="inline-flex items-center ">
                    <div class="mr-2 text-sm leading-6">
                      <span class="text-gray-500"><span class="sr-only">Enabled </span>Enabled</span>

                    </div>
                    <div class="flex h-6 items-center">
                      <input id="edit-quest-is-active" name="edit-quest-is-active" type="checkbox"
                             class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                             [ngModel]="getIsActive()" (ngModelChange)="setIsActive($event)">

                    </div>

                  </div>
                </div>


              </div>
            </div>

            <div class="grid w-full mt-2 ">
              <div class="grid max-w-full  grid-cols-2 gap-x-4 mt-2 justify-between" style="grid-template-columns: repeat(2, minmax(0, 1fr));" [ngClass]="{'safari-inner-spinner-button': editModalService.isSafari(),'other-platform': !editModalService.isSafari()}">
                <div class="col-span-1 ">

                  <div
                    class="max-w-fit  rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">

                    <input type="number" name="edit-quest-demand" id="edit-quest-demand"
                           class="block border-0 bg-transparent py-1.5 px-2 text-gray-900 placeholder:text-gray-400 focus:ring-0 text-sm leading-6"
                           placeholder="Capacity"
                           [ngModel]="getDemand()" (ngModelChange)="setDemand($event)">
                  </div>
                </div>
                <div class="col-span-1">
                  <div
                    class="max-w-fit  rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 ">

                    <input type="number" name="edit-quest-items-per-capacity" id="edit-quest-items-per-capacity"
                           class="block border-0 bg-transparent py-1.5 px-2 text-gray-900 placeholder:text-gray-400 focus:ring-0 text-sm leading-6"
                           placeholder="Capacity"
                           [ngModel]="getItemsPerCapacity()" (ngModelChange)="setItemsPerCapacity($event)">
                  </div>


                </div>


              </div>
            </div>

          </div>
        </div>
        <div class="flex justify-between mt-5 sm:mt-6 ">
          <button type="button"
                  class="inline-flex w-1/2 mr-2 justify-center opacity-50 rounded-md bg-gray-300  px-3 py-2  text-sm font-semibold  shadow-sm hover:bg-gray-500 hover:text-white"
                  style="outline: none;"
                  (click)="editModalService.close()">
            Cancel
          </button>


          <button type="button"
                  class="inline-flex w-1/2 ml-2 justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500"
                  (click)="editModalService.confirm()">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

